WitsClassesTests/Connected Services/WitsService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WitsClasses.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WitsClasses.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PlayerSelectedAnswer">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdProfilePicture" type="xs:int" />
      <xs:element minOccurs="0" name="SelectedAnswer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerSelectedAnswer" nillable="true" type="tns:PlayerSelectedAnswer" />
  <xs:complexType name="Player">
    <xs:sequence>
      <xs:element minOccurs="0" name="CelebrationId" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighestScore" type="xs:int" />
      <xs:element minOccurs="0" name="ProfilePictureId" type="xs:int" />
      <xs:element minOccurs="0" name="UserPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Player" nillable="true" type="tns:Player" />
  <xs:complexType name="Question">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnswerEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnswerES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="QuestionES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrueAnswer" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Question" nillable="true" type="tns:Question" />
</xs:schema>